body {
  font-family: 'Ubuntu', sans-serif;
}

section {
  border-top: thin solid #eee;
}
section h1 {
  padding-top: 10px;
}

a {
  color: #333;
  border-bottom: 2px solid #333;
  -moz-transition: color 0.35s ease-in-out, border-bottom 0.35s ease-in-out;
  -webkit-transition: color 0.35s ease-in-out, border-bottom 0.35s ease-in-out;
  -o-transition: color 0.35s ease-in-out, border-bottom 0.35s ease-in-out;
  -ms-transition: color 0.35s ease-in-out, border-bottom 0.35s ease-in-out;
  transition: color 0.35s ease-in-out, border-bottom 0.35s ease-in-out;
}

.project-links a {
  border-bottom:  1px solid #333;
}

a:hover {
  color: black;
  text-decoration: none;
  border-bottom: none;
}

.side-bar {
  background-color: #E2E2E2;
  height: 100%;
  position: fixed;
  padding-right: 0px;
}

#header {
  text-align: center;
  padding-bottom: 30px;
}
#header .avatar {
  background-image: url("images/avatar.jpg");
  background-size: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 10px auto 0 auto;
}

#header .language-logos img {
  display: inline-block;
  height: 32px;
}

#header .language-logos .html{
  height: 38px;
  margin-top: -8px;
  margin-left: -3px;
}
#header .language-logos .css {
  height: 38px;
  margin-top: -8px;
  margin-left: -11px;
}

#header .title {
  font-size: 1.5em;
}

#side-nav {
  padding-right: 10px;
  font-size: 1.4em;
}

#side-nav a {
  color: #333;
  border: none;
}

#side-nav a:hover {
  border-right: 2px solid #333;
}

#side-nav .nav-links-list {
  list-style: none;
  text-align: right;
  line-height: 2;
}

#side-nav .nav-links-list a {
  padding-right: 10px;
}

#side-contact {
  padding-top: 20px;
  text-align: center;
  font-size: 2.5em;
}

#side-contact ul {
  padding: 0;
  cursor: default;
}

.main {
  text-align: center;
}

#welcome {
  margin: 125px 100px 125px 75px;
  padding: 15px;
  background-color: rgba(238, 238, 238, 0.69);
  border-radius: 3px;
}

#welcome p {
  font-size: 17px;
}

#welcome h2, h1 {
  margin: 10px;
}

#welcome h2 {
  padding-bottom: 25px;
}

#portfolio {
  padding: 15px;
}

#portfolio .portfolio-piece {
  min-height: 300px;
  min-width: 707px;
  margin: 15px;
  margin-bottom: 25px;
  padding-top: 20px;
}

#portfolio .left-text {
  text-align: left;
}

#portfolio .right-text {
  text-align: right;
}
#portfolio .portfolio-piece div {
  vertical-align: top;
  display: inline-block;
}

#portfolio .portfolio-piece h2 {
  margin-top: 10px;
}

#portfolio .project-desc {
  width: calc(100% - 300px);
}

#portfolio .project-images {
  max-width: 256px;
  padding: 3px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 6px 26px 2px rgba(0,0,0,0.43);
  -moz-box-shadow: 5px 6px 26px 2px rgba(0,0,0,0.43);
  box-shadow: 5px 6px 26px 2px rgba(0,0,0,0.43);
}

#portfolio .project-images img {
 /* -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;*/
  display: none;
}

#portfolio .project-images img.active {
/*  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 1;*/
  display: block;
}

#about {
  padding: 0 70px 70px 70px;
}

#contact ul {
  list-style: none;
  font-size: 4em;
  padding-left: 0px;
  cursor: default;
}

#contact li {
  padding: 0 15px;
}

.icons .label {
  display: none;
}

.icons li {
  display: inline-block;
}

.icons a {
  color: #333;
  border: none;
}

.icons a:hover {
  color: black;
}
